/* code beauty */
.container {
    background: yellow;

    height: 100vh;

    display: grid;

    grid-template-columns: 100px 200px 50px;
    grid-template-rows: 50px 100px 200px;

    /* Align Content */
    /* Default Value */
    align-content: start;

    align-content: end;

    align-content: space-around;

    align-content: space-between;

    /* Justify Content */
    /* Default Value */
    justify-content: start;

    justify-content: end;

    justify-content: center;

    justify-content: space-evenly;

    justify-content: space-between;

    justify-content: space-around;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,
.box4,
.box5 {
    background: aqua;
}

.box2,
.box3 {
    background: blue;
}
