/* Chọn tất cả các thẻ a có chứa thuộc tính href */
p[href] {
    color: red;
}

/* Chọn tất cả các thẻ có chứa thuộc tính target = "_blank" */
[target="_blank"] {
    color: pink;
}

/* Chọn tất cả các thẻ có chứa thuộc tính title có chứa từ tuhoc.cc đứng đơn lẻ */
[title~="tuhoc.cc"] {
    color: green;
}

/* Chọn tất cả các thẻ có chứa thuộc tính title có chứa chuỗi tuhoc.cc */
[title*="tuhoc.cc"] {
    color: yellow;
}

/* Chọn tất cả các thẻ có thuộc tính title có 1 từ duy nhất bắt đầu bằng từ cần tìm và sau nó phải được nối bằng dấu gạch ngang */
[title|="pic"] {
    color: pink;
}

/* Chọn tất cả các thẻ có thuộc tính title chỉ cần bắt đầu bằng từ cần tìm (không quan tâm phần space đằng sau) */
[title^="pic"] {
    color: red;
}

/* Chọn tất cả các thẻ có thuộc tính title có giá trị kết thúc bằng chuỗi cần tìm */
[title$="abc1234"] {
    color: blue;
}
