.box {
    width: 400px;
    height: 100px;

    border: 4px dotted red;

    background-image: url(../bg_images/cute_dog.jpg);

    background-size: contain;

    background-size: cover;

    background-size: 200px;
    /* background-repeat: no-repeat; */

    /* 1 đối số => chiểu rộng */
    background-size: 100%;

    /* 2 đối số => chiều rông chiều cao */
    /* Ít khi dùng đối số 2 tỷ lệ */
    background-size: 100% 100%;

    background-size: 200px 200px;
}
