h1 {
    /* Màu chữ */
    color: blueviolet;

    /* Kiểu chữ */
    font-style: italic;

    /* Font chữ */
    font-family: Arial, Helvetica, sans-serif;

    /* Chuyển đổi viết hoa, viết thường */
    text-transform: uppercase;

    /* Căn giữa */
    text-align: center;

    /* Cỡ chữ */
    font-size: 18px;
}
