.noti {
    margin: 5rem;
    font-size: 10rem;
    color: violet;
    position: relative;
}

.mess_number {
    font-size: 4rem;
    padding: 0.5rem;
    background-color: red;
    color: #fff;
    border-radius: 20px;

    position: absolute;
    top: -43px;
    left: 113px;
}
