/* code beauty */
.container {
    display: grid;

    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 100px 200px;

    /* Align-Items */
    /* Default Value */
    align-items: stretch;

    align-items: center;

    align-items: start;

    align-items: end;

    /* Justify-Items */
    /* Default Value */
    justify-items: stretch;

    justify-items: center;

    justify-items: start;

    justify-items: end;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,
.box4,
.box5 {
    background: aqua;
}

.box2,
.box3 {
    background: blue;
}
